body{
    background-color: beige;
}
.test{
    border: 2px dotted black;
}
.testtwo{
    max-width: 100%;
    height: auto;
}
.second{
    background-color: black;
    color: ghostwhite;
}
.tiger{
    background-color: gold;
    
}
h1 {
    text-align: center;
}